* {
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    font-family: 'Franklin Gothic Medium';
    background-color: #de9ae8;
    margin: 0;
}
#board {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3,auto);
}

/* Handle a player clicking on a square:
HTML table to go along with css grid (styling)--
Give classes to each row and column (obtain the class of which column and which row was clicked on when a player clicks on a cell)--
If the winner is not null (as in has a value) immediately return bc the game has a winner
When a player clicks on a cell you gotta update the who’s turn is it variable (switch it)
Set the winner variable to the player who won (got three in a row/column)
Check if its a tie if there is no winner
If there is a tie then send the message (could update the winner message when its a tie) */


#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.box {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* //remove borders// */
.box:nth-child(1), .box:nth-child(2), .box:nth-child(3){
    border-top: none;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7){
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9){
    border-right: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9){
    border-bottom: none;
}


/* #winnersMessage {
} */

button {
    margin-top: 3px;
    padding: 3px;
    background-color:black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

button:hover{
    background-color:white;
    color: black;
}